# Xcode
.DS_Store
*.swp
*.xcworkspace/
*.xcuserstate

*.xcuserdatad/

DerivedData/
build/

*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

*.log

.env
.env.*
